<div class="logo-section">
  <h1>SLMS</h1>
  <p>Smart Learning Management System</p>
</div>

<nav class="menu">

  <div class="menu-item active">
    📊 Dashboard
  </div>

  <div class="menu-item">
    📚 Courses
  </div>

  <div class="menu-item">
    📝 Enrollment
  </div>

  <div class="menu-item">
    📈 Progress
  </div>

  <div class="menu-item">
    🏆 Certificates
  </div>

  <div class="menu-item">
    📄 Reports
  </div>

</nav>

<div class="quote-card">
  <p>
    The meaning of life is to find your gift.
    The purpose of life is to give it away.
  </p>

  <span>— Pablo Picasso</span>
</div>

<button class="logout-btn">
  Logout
</button>