<div class="enrollment-container">

  <h1>My Enrollments</h1>

  <h2>Available Courses</h2>
  <p>Courses Count: {{ courses.length }}</p>
<p>Enrollments Count: {{ enrollments.length }}</p>

  <div class="course-grid">

    <mat-card
      class="course-card"
      *ngFor="let course of courses">

      <mat-card-header>

        <mat-card-title>
          {{ course.title }}
        </mat-card-title>

      </mat-card-header>

      <mat-card-content>

        <p>
          <strong>Category:</strong>
          {{ getCategoryName(course.categoryId) }}
        </p>

        <p>
          <strong>Instructor:</strong>
          {{ getInstructorName(course.instructorId) }}
        </p>

        <p>
          <strong>Duration:</strong>
          {{ course.duration }}
        </p>

        <p>
          <strong>Level:</strong>
          {{ course.level }}
        </p>

        <p>
          <strong>Rating:</strong>
          ⭐ {{ course.rating }}
        </p>

      </mat-card-content>

      <mat-card-actions>

        <button
          mat-stroked-button
          color="primary">
          View Details
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="enrollInCourse(course.id)">
          Enroll
        </button>

      </mat-card-actions>

    </mat-card>

  </div>

  <div class="history-section">

    <h2 class="history-title">
      My Enrollment History
    </h2>

    <div class="history-grid">

      <mat-card
        class="history-card"
        *ngFor="let enrollment of enrollments">

        <mat-card-content>

          <h3>
            {{ getCourseTitle(enrollment.courseId) }}
          </h3>

          <p
            class="status-badge"
            [class.completed]="enrollment.status === 'completed'">

            {{ enrollment.status }}

          </p>

        </mat-card-content>

        <mat-card-actions>

          <button
            mat-raised-button
            color="warn"
            (click)="deleteEnrollment(enrollment.id)">

            Remove

          </button>

          <button
            mat-stroked-button
            color="primary"
            *ngIf="enrollment.status !== 'completed'"
            (click)="markAsCompleted(enrollment)">

            Mark Completed

          </button>

        </mat-card-actions>

      </mat-card>

    </div>

  </div>

</div>